{% extends "layout.html" %}
{%block content%}
<div class ='about'>
    <h1>About</h1>
    <p>Welcome to our website! We provide a convenient solution for converting videos to audio files
     and generating captions. Whether you need to extract the audio from a video or create captions
      for your videos, our platform has you covered.       
    Our platform is designed to seamlessly integrate with your existing
     video workflow.This ensures a smooth and 
      efficient workflow, saving you valuable time.        
    Experience the convenience and efficiency of our 
    video-to-audio conversion and caption generation features.
     Try it out today and unlock new possibilities for your audio and video content!
    
    
    </p>
    </div>
{% endblock content%}